@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --background-main: hsl(222, 26%, 31%);
  --background-keypad: hsl(223, 31%, 20%);
  --background-screen: hsl(224, 36%, 15%);

  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);

  --key-background-special: hsl(225, 21%, 49%);
  --key-shadow-special: hsl(224, 28%, 35%);

  --key-background-toggle: hsl(6, 63%, 50%);
  --key-shadow-toggle: hsl(6, 70%, 34%);

  --text-title: hsl(0, 0%, 100%);
  --text-key: hsl(221, 14%, 31%);
  --text-key-special: hsl(0, 0%, 100%);
  --text-key-equal: hsl(0, 0%, 100%);
}

.keyButton {
  background-color: var(--key-background);
  box-shadow: inset 0 -4px var(--key-shadow);
}

.keyButton:hover {
  background-color: var(--key-background);
  filter: brightness(1.2);
}

.keyButtonSpecial {
  color: var(--text-key-special);
  background-color: var(--key-background-special);
  box-shadow: inset 0 -4px var(--key-shadow-special);
}
.keyButtonSpecial:hover {
  filter: brightness(1.2);
}

.keyButtonToggle {
  color: var(--text-key-special);
  background-color: var(--key-background-special);
  box-shadow: inset 0 -4px var(--key-shadow-special);
}

.keyButtonToggle:hover {
  filter: brightness(1.2);
}

.keyButtonEqual {
  color: var(--text-key-equal);
  background-color: var(--key-background-toggle);
  box-shadow: inset 0 -4px var(--key-shadow-toggle);
}

.keyButtonEqual:hover {
  filter: brightness(1.2);
}

@import "themes/theme2.css";
@import "themes/theme3.css";
